@tailwind base;
@tailwind components;
@tailwind utilities;

.logo_img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
}


/* CSS */
.button-87 {
  margin: 10px 0;
  padding: 0.7rem 1.4rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 6px;
  display: block;
  border: 0px;
  /* font-weight: 400; */
  /* box-shadow: 0px 0px 14px -7px #f09819; */
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.loading {
  text-align: center;
  margin-top: 50px;
}

.loading span {
  display: inline-block;
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}